* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}
/* Landing Page */

header {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%); /* Center vertically */
  z-index: 1000;
}

nav {
  background-color: #2c3140;
  border-left: 2px solid #ecdcdc;
}

nav ul {
  list-style-type: none;
  text-align: center;
}

nav li {
  padding: 20px 0;
  margin: 15px;
  cursor: pointer;
}

nav a {
  /* background-color: #244eca; */
  background: linear-gradient(
    to bottom,
    #55ccff 0%,
    #55ccff 45%,
    #d3c11a 70%,
    #d3c11a 100%
  );
  text-decoration: none;
  background-clip: text;
  color: transparent;
  /* Make the text color transparent to reveal the gradient background */
  font-size: 25px;
  margin: 10px;
  padding: 20px 0px;
  cursor: pointer;
  font-family: "PT Serif", serif;
}

nav li:hover,
nav li a:hover {
  background-color: #212329;
  color: #55ccff;
  border-bottom: 4px solid #d3c11a;
}

#title {
  display: flex;
  flex-direction: column;
}

#name {
  background: linear-gradient(
    rgba(85, 204, 255, 1) 40%,
    rgba(236, 220, 220, 1) 60%
  );
  background-clip: text;
  /* For Webkit/Blink browsers like Chrome and Safari */
  color: transparent;
  /* Make the text color transparent to reveal the gradient background */
  font-size: 40px;
  margin: 0;
  padding: 40px;
  font-family: "PT Serif", serif;
  text-align: start;
}

#designation {
  color: #55ccff;
  font-family: "PT Serif", serif;
  font-size: 40px;
  text-align: end;
}

main #home {
  background-image: url("images/Landing\ page\ -\ background\ image.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}

/* About Me */

.about-heading {
  color: #ecdcdc;
  text-decoration: underline;
  font-family: "Song Myung", serif;
  font-style: normal;
  font-size: 40px;
  font-weight: 300;
}

.me-heading {
  color: #55ccff;
  text-decoration: underline;
  /* font-family: "Song Myung", serif;
  font-style: normal; */
  /* font-weight: 100px; */
}

.main-color {
  color: #55ccff;
}

.highlight-color {
  color: #ecdcdc;
}

#aboutme {
  padding: 30px 0;
  text-align: center;
}

section {
  height: 100vh;
}

#aboutme-div {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 0.7fr 0.1fr 0.1fr;
  grid-template-areas:
    "pic pitch"
    "sks pitch"
    "set cv";
  align-items: center;
  row-gap: 10px;
  column-gap: 40px;
  width: 80%;
  height: 90%;
  /* margin: 0 auto;  */
  padding: 20px 20px 0px 80px;
}

.image {
  grid-area: pic;
  width: 260px;
  height: 260px;
  border-radius: 200px;
  border: 8px solid #ecdcdc;
  object-fit: cover;
}

#pitch {
  grid-area: pitch;
  width: 100%;
  font-size: 18px;
  font-family: "Tiro Telugu", serif;
  font-weight: 300;
  font-style: normal;
  text-align: start;
  letter-spacing: 0.5px;
  height: 100%;
  padding: 20px 0 10px 20px;
  /* margin-bottom: 100px; */
}

#pitch p {
  line-height: 2;
  margin-bottom: 20px;
  text-indent: 60px;
}

.skills-heading {
  grid-area: sks;
  color: #55ccff;
  align-items: center;
  text-align: center;
  background-color: #2c3140;
  width: max-content;
  padding: 6px 10px;
  text-decoration: underline;
  border-radius: 10px;
  margin-left: 90px;
  margin-bottom: -20px;
  margin-top: 20px;
}

#skill-set {
  grid-area: set;
  width: 280px;
  height: 150px;
  text-align: center;
  padding: 10px 0;
  background-color: #2c3140;
  font-size: 18px;
  font-family: "Tiro Telugu", serif;
  font-weight: 200;
  font-style: normal;
  border-radius: 20px;
}

#resume {
  grid-area: cv;
  background-color: #2c3140;
  /* color: #55ccff; */
  border: none;
  padding: 15px 25px;
  font-size: 20px;
  cursor: pointer;
  /* width: max-content; */
  /* display: inline-block; */
  /* text-decoration: none; */
  /* margin: 0 auto; */
  justify-self: end;
  /* position: relative; */
  border-left: 4px solid #ecdcdc;
  border-bottom: 4px solid #ecdcdc;
  border-radius: 20px;
  margin-top: 160px;
}

#resume:focus {
  outline: none;
}

#resume a {
  /* text-decoration: none; */
  background: linear-gradient(
    to bottom,
    #55ccff 0%,
    #55ccff 45%,
    #d3c11a 70%,
    #d3c11a 100%
  );
  /* text-decoration: none; */
  background-clip: text;
  color: transparent;
  /* Make the text color transparent to reveal the gradient background */
  font-size: 25px;
  margin: 10px;
  padding: 20px 0px;
  cursor: pointer;
  font-family: "PT Serif", serif;
}
#cv-div {
  width: 500px;
  height: 500px;
}

.section-class:nth-child(odd) {
  background-color: #3e4558;
}

.section-class:nth-child(even) {
  background-color: #2c3140;
}

footer {
  background-color: #1e242c;
  color: white;
  padding: 10px 0;
  text-align: center;
}

.fa-linkedin-square,
.fa-facebook-square,
.fa-github-square {
  color: #55ccff;
  /* background-color: white;  */
  font-size: 48px;
  /* padding: 3px 3px;  */
  /* Adjust padding for better visual appearance */
  /* border-radius: 3px; */
  /* margin: 5px */
  /* Add margin for spacing between icons */
  text-decoration: none; /* Remove underline for anchor elements */
  /* font-size: 180px; */
}

.fa-linkedin-square:hover,
.fa-facebook-square:hover,
.fa-github-square:hover {
  background-color: #005c99; /* Change background color on hover */
}

foooter a {
  background-color: #55ccff;
  color: red;
}
